spring:
  application:
    name: WebSmartStorage
  datasource:
    url: jdbc:sqlite:file:///Users/klm96551/.smartstorage/smartstorage115.sqlite
    driverClassName: org.sqlite.JDBC
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: false

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /

